#landing
    #landing-text
        #landing-text-inner
            h1 Acme Photography
            h2 Beatufiul Natural Photography
            a(href="#images", class="btn", id="view-work") View Work
    #landing-image